{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>{{ capitalizar 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur impedit delectus veniam libero fuga aut debitis esse molestiae cum blanditiis, cupiditate suscipit dolorum modi sapiente doloremque eligendi non accusamus ut.' }}</p>
        </div>
        <div class="col-4">
            <img src="assets/img/megamanx.jpg" alt="megaman x" class="img-thumbnail">
        </div>
    </div>

{{> footer }}
